body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,;
    background-color: #333;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d1d1d;
    color: #050505;
    text-align: center;
    padding: 5px;
}

h1 {
    align-items: center;
    text-align: center;
    margin-right: 70px;
    padding: 5px;
}

h1 img {
    width: 200px;
    height: 60px;
    vertical-align: top;
    float: center;
}

nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

h2 img {
    display: block;
    margin: 0 auto;
}

strong {
    color: #333;
}

a {
    color: #007bff;
}

.imageButtonText {
    display: inline-block;
    margin-right: 20px;
}

.imageButtonText p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    border: 6px solid #616161;
    transition: all 0.3s ease;
  }
  
  .button img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    vertical-align: middle;
  }
  
  .button:hover {
    transform: scale(01.04);
  }
  
  .button:hover {
    border-color: #999;
  }

  .pagebuttons{
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  border-radius: 40px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 1px;
  min-width: 160px;
  text-transform: none;
  white-space: normal;
  font-weight: 200;
  text-align: center;
  padding: 16px 14px 18px;
  color: #a2a3a3;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;
  height: auto;
  transition: transform 0.3s ease;
}
  .pagebuttons:hover{
      color: #fff;
      background-color: #616467;
      transform: scale(1.1)
  }
