body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: white;
    font-weight: bold;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d1d1d;
    color: #050505;
    text-align: center;
    padding: 10px;
}

h1 {
    text-align: center;
    padding: 5px;
}

h1 img {
    width: 200px;
    height: 60px;
    vertical-align: top;
    float: center;
    margin: 0 auto;
}

nav ul {
    text-align: center;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 10px;
}

h2 {
    color: #ffffff;
}

h2 img {
    display: block;
    margin: 0 auto;
}

strong {
    color: #333;
}

a {
    color: #007bff;
}

.imageButtonText {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.imageButtonText p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    border: 6px solid #616161;
    transition: all 0.3s ease;
}

.button img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    vertical-align: middle;
}

.button:hover {
    transform: scale(1.04);
    border-color: #999;
}

.pagebuttons {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 40px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    letter-spacing: 1px;
    min-width: 160px;
    text-transform: none;
    white-space: normal;
    font-weight: 200;
    text-align: center;
    padding: 16px 14px 18px;
    color: #a2a3a3;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: auto;
    transition: transform 0.3s ease;
}

.pagebuttons:hover {
    color: #fff;
    background-color: #616467;
    transform: scale(1.1);
}

.gamesSection {
    background-color: #111;
}

.gameContainer {
    padding: 20px;
    margin: 50px;
    /* overflow: scroll; */
}

.contactSection {
    background-color: #111;
}

.contactContainer {
    padding: 20px;
    margin: 50px;
    padding-bottom: 80px;
}

.policyContainer {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: white;
    color: #007bff;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    max-height: 100%;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
}


.policyContainer p {
    margin: 0; /* Убираем отступы у абзацев */
}